<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="intro" class="header-container fs">
            <header class="wrapper">
                <%= image_tag 'logo.svg', :class => 'logo' %>
                <p>Delicious, more discovery, better sustainability.</p>
            </header>
            <a href="#slide03"><span class="scroll-hint">Participate Prototype Testing</span></a>
        </div>
        <div class="main-container">

            <article id="cb01" class="content-block">
                <div class="wrapper">
                    <header class="slideInUp">
                        <h1>How can we do it?</h1>
                    </header>
                    <section>
                        <p class="slideInUp slideInUp2">SUSHiNDEX marries sushi chef's tasting expertise to the sustainable seafood guide to increase public awareness towards ocean protection by discovering fish flavor with respect to level of sustainability</p>
                    </section>
                </div> 
            </article>
            
<!--             <article id="slide01" class="slide fs">
                <div class="wrapper">
                    <header class="slideInUp">
                        <h1>How can we do it?</h1>
                    </header>
                    <section>
                        <p class="slideInUp slideInUp2">SUSHiNDEX marries sushi chef's tasting expertise to the sustainable seafood guide to increase public awareness towards ocean protection by discovering fish flavor with respect to level of sustainability</p>
                    </section>

                </div> 
            </article> -->

            <!-- <article id="cb02" class="content-block">
                <div class="wrapper">
                    <header class="slideInUp">
                        <h1>I am...</h1>
                    </header>
                    <section>
                        <p class="slideInUp slideInUp2"></p>
                  
                    </section>
                </div> 
            </article>

            <article id="slide02" class="slide fs">
                <div class="wrapper">
                    <header class="slideInUp">
                        <h1>Position and Timing</h1>
                    </header>
                    <section>
                        <p class="slideInUp slideInUp2">Position elements based on the background image and trigger animation at the right time.</p>
                        <p class="slideInUp slideInUp3">Use different triggerElements in combination with offsets to be in full control.</p>
                    </section>
                </div> 
            </article> -->
<!--  
            <article id="cb03" class="content-block">
                <div class="wrapper">
                    <header class="slideInUp">
                        <h1>I AM...</h1>
                    </header>
                </div> 
            </article> -->

            <article id="slide03" class="slide fs">
                <div class="wrapper">
                    <header class="slideInUp">
                        <h1>I AM...</h1>
                    </header>
                    <!---->
                    <section>    
                        <h2>Professional Sushi Chef</h2>
                        <p class="slideInUp slideInUp3"> Contribute my talent to community and the ocean.</p>
                        <div class="slideInUp slideInUp3">
                            <a href="http://goo.gl/forms/vmA2fVq2jD" class="button">> PARTICIPATE !</a>
                        </div>
                    </section>
                    <!--  -->
                    <section>    
                        <h2>Smarter Foodie</h2>
                        <p class="slideInUp slideInUp3"> Join the EatUp group to have a conversation with new friends and try the index.</p>
                        <div class="slideInUp slideInUp3">
                            <a href="http://goo.gl/forms/vmA2fVq2jD" class="button">> GO EATUP !</a>    
                        </div>
                    </section>
                </div> <!-- .wrapper -->
            </article>

        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>2016 &copy; SUSHiNDEX </a> | Contact me if you have more questions! sushindex@gmail.com </a> </h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="jquery-1.11.2.min.js"><\/script>')</script>
        

    </body>
</html>
